.forecastContainer {
    display:flex;
    flex-direction: row;
}

.forecast-item-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 6px;
    background-color: rgb(61, 61, 61);
    margin: 20px auto 0 auto;
    margin-inline: 10px;
    justify-content: center;
}

.forecast-weather-icon {
    width: 100px;
}