/*Section for the weather display box itself*/
.weatherContainer {
    width: 500px;
    border-radius: 6px;
    background-color: rgb(61, 61, 61);
    margin: 20px auto 0 auto;
}

.weatherHeader, .weatherFooter {
    display:flex;
    align-items: flex-start;
    margin-left: 10px;
    margin-right:10px;
    font-size: 10px;
}

.weatherFooter {
    justify-content: space-between;
}

/*Section for all the weather information */
.weatherInfo {
    height: 200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.temperature {
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -2px;
    width:auto;
}

.weather-description {
    margin-bottom: 5px;
}

.details {
    width: 50%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}
.param-row {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex: 100%;
}

.weather-icon {
    width: 300px;
}